<div class="row-input">
  <label class="row-input__label" for={{id}}>{{label}}</label>
  <input
    value={{value}}
    {{#if isInViewMode}}disabled{{/if}}
    class="row-input__input"
    id={{id}}
    name={{name}}
    type={{type}}
  />
</div>
