
<div class="chats-item__avatar-container">
  <img class="chats-item__avatar" alt={{title}} src={{avatar}} width="47" height="47"/>
</div>
<div class="chats-item__content">
  <div class="chats-item__title">{{title}}</div>
  <div class="chats-item__message"><span>{{lastMessage}}</span></div>
</div>
<div class="chats-item__time">{{time}}</div>
