{{{backButton}}}
<main class="profile__main">
  <div 
    {{#if isInViewMode}}class="profile__photo-container"{{/if}}
    {{#unless isInViewMode}}class="profile__photo-container profile__photo-container_editing"{{/unless}}
  >
    {{{avatar}}}
  </div>
  {{#if isInViewMode}}
    <div class="profile__name">{{name}}</div>
  {{/if}}
  {{#if isInProfileMode }}
    {{{profileForm}}}
  {{/if }}
  {{#unless isInProfileMode }}
    {{{passwordForm}}}
  {{/unless}}
</main>
