<div class="sign-up-form__title">Регистрация</div>
{{{emailInput}}}
{{{loginInput}}}
{{{firstNameInput}}}
{{{secondNameInput}}}
{{{phoneInput}}}
{{{passwordInput}}}
{{{passwordRepeatInput}}}
<div class="sign-up-form__buttons">
  {{{button}}}
  {{{link}}}
</div>